<center>
    <h1>Changed</h1>
</center>
<canvas id="myCanvas" width="500" height="500">
</canvas>
<script>
var canvas = document.querySelector("canvas");
canvas.height = window.innerHeight;
canvas.width = window.innerWidth;
var ctx = canvas.getContext("2d");
ctx.fillStyle = "#DF8B7A";
ctx.fillRect(0, 0, canvas.width, canvas.height);
var image = new Image();
var xPos = 40;
var yPos = 50;
image.src = "./static/img/duckman.jpg"
ctx.drawImage(image, xPos, yPos)

/*image.onload = () => {
  ctx.drawImage(image, xPos, yPos)
}*/

/*function move(e){
  //alert(e.keyCode);
  if(e.keyCode=39){
    xPos+=5; 
  }
  if(e.keyCode=37){
    xPos-=5; 
  }
  image.src = "./static/img/hogweed.jpg"
  ctx.drawImage(image, xPos, yPos)
  image.onload = () => {
   ctx.drawImage(image, xPos, yPos)
  }
  //ctx.stroke(); //обводка
}*/
//document.onkeydown = move;

document.addEventListener("keydown",function(e){
  if(e.keyCode==39){
    //alert(e.keyCode);  
    xPos+=10;
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.fillStyle = "#DF8B7A";
    ctx.fillRect(0, 0, canvas.width, canvas.height);
    //var el = document.getElementById('imageoncanvas');
    //el.parentNode.removeChild(el);
    ctx.drawImage(image, xPos, yPos) 
  }
  if(e.keyCode==37){
    xPos-=10;
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.fillStyle = "#DF8B7A";
    ctx.fillRect(0, 0, canvas.width, canvas.height);
    ctx.drawImage(image, xPos, yPos)  
  }
}
)
</script>